@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 10px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: rgb(242, 242, 242);
}



h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  /* background-color: aqua; */
  width: 200px;

}

button {
  background-color: rgb(195, 195, 195);
  width: 100px;
  /* margin: 1rem; */
  /* margin-left: auto; */
}

Link {
  color: aqua;
  background-color: brown;
}